%h3= "#{@name}"
%center
%table{:border => 1,:cellpadding=>5}
	%tbody
		%thead
			%td Page
			%td Error_Count
			%td Errors
			%td Alert_Count
			%td Report
		- @report_det.each do |row|
			%tr 
				%td
					%p
						=row["page_name"] 
						%br
							%a{ :href  => "#{row["page_url"]}"} "#{row["page_url"]}"
				%td= row["error_count"]
				%td
					%ul
					-row["errors"].each do |er|
						%li= er
				%td= row["alert_count"]
				%td
					%a{ :href  => "#{row["wave_url"]}"} "Wave Report
%h3 Report Summary
%center
%table{:border => 1,:cellpadding=>5}
	%tbody
		%thead
			%td Page Total
			%td Error_Total
			%td Error Average
			%td Error Free Pages
			%td Alert Average
			%tr 
				%td= "#{@report_sum["pg_totl"]}"
				%td= "#{@report_sum["error_totl"]}"
				%td= "#{@report_sum["error_average"]}"
				%td= "#{@report_sum["error_free"]}"
				%td= "#{@report_sum["alert_average"]}"