%header
	%h1= "#{name}"
%h2 Report Summary
%table.styled.center
	%thead
		%tr
			%th{:scope => "col"} Page Total
			%th{:scope => "col"} Error Total
			%th{:scope => "col"} Error Average
			%th{:scope => "col"} Error Free Pages
			%th{:scope => "col"} Alert Average
	%tbody	
		%tr 
			%td= "#{@report_sum["pg_totl"]}"
			%td= "#{@report_sum["error_totl"]}"
			%td= "#{@report_sum["error_average"]}"
			%td= "#{@report_sum["error_free"]}"
			%td= "#{@report_sum["alert_average"]}"
%br
%div
	%span#pie_space
	%span#piechart_before
		%b Melbourne Uni Average
		= pie_chart @tot_data
	%span#piechart_after
		%b.center This Report
		= pie_chart @report_err
%br

%div.center
	%span{:style =>"width:51%;display: inline-block;text-align: center;margin:0 auto; position: relative;"}
		= line_chart [{name:"This report",data:@timeline_data},{name: "Melbourne Uni Average",data: { Time.new.to_date => @@err_avg }}],{library:{hAxis: {title: "Report Run Date", format: 'dd MMM, y'},vAxis: {title: "Errors Per Page"},title: 'Average Errors Per Page', fontSize: 18,fontName: "Roboto, Helvetica, Arial, sans-serif", trendlines: { 1 => {pointSize: 0, enableInteractivity: false} },width: '500px', hieght: '300px'}}

%h2 Accessibility Report
%table.styled
	%thead
		%tr
			%th{:scope => "col"} Page
			%th{:scope => "col"} Error Count
			%th{:scope => "col"} Errors
			%th{:scope => "col"} Alert Count
			%th{:scope => "col"} Report
	%tbody
		- @report_det.each do |row|
			%tr 
				%td
					%p
						=row["page_name"] 
						%br
							%a{ :href  => "#{row["page_url"]}"} #{row["page_url"]}
				%td= row["error_count"]
				%td.nowrap
					%ul
					-row["errors"].each do |er|
						%li= er
				%td= row["alert_count"]
				%td
					%a{ :href  => "#{row["wave_url"]}"} Wave Report
%h2
	%a.button-small.warning{:href => "/deleteReport/#{id}/#{name}"} Delete
	\&nbsp
	%a.button-small{:href => "/rerunReport/#{id}"} Rerun Report

