%header 
	%h1 Web Accessiblity Reports
%h2 Reports Requested
%table.styled
	%thead
		%tr
			%th{:scope => "col"}  Report Name
			%th{:scope => "col"}  Requested Date
			%th Run Report
	%tbody
		- @report_req.each do |row|
			%tr 
				%td
					%p
						= row["report_name"]
						%br
							%a{:href  => "#{row["url"]}"} #{row["url"]}
				%td= row["submit_date"]
				%td
					- if row["status"]=="submit"
						%a.button-small{:href => "/requestedReports/#{row["id"]}"}  Run
					-elsif row["status"]=="rerun"
						%a.button-small{:href => "/requestedReports/#{row["id"]}"}  Rerun
					- else
						%a.button-small.soft.disabled Running

					