%header 
	%h1 Web Accessiblity Reports
%h2 Error Summary
%div
	= pie_chart(@@web_summary)
%h2 Reports generated
%table#reportsorter.wide.center
	%thead
		%tr
			%th{:scope => "col"} 
				%span Report
			%th{:class => "{sorter: 'usLongDate'}",:scope => "col"}
				%span Date
			%th{:scope => "col"} 
				%span Total Pages
			%th{:scope => "col"} 
				%span Accessible pages
			%th{:scope => "col"} 
				%span  Errors per page
			%th{:scope => "col"} 
				Delete Report
	%tbody
		- @web_array.each do |row|
			%tr 
				%td
					%p
						%a{ :href  =>'/reportDetail/'<< "#{row["report_id"]}"<<"/#{row["web_name"]}"} #{row["web_name"]}
						%br
							= row["web_url"]
				%td.nowrap= row["report_date"]				
				%td= row["pg_totl"]
				%td= row["error_free"]
				%td= row["error_aver"]
				%td
					%a.button-small.warning{:href => "/deleteReport/#{row["report_id"]}/#{row["web_name"]}"} Delete
%h2
	%a.button-small(href='/urlCheck')   Request a report
	\&nbsp
	%a.button-small(href='/requestedReports') Requested Reports
