%header 
	%h1 Web Accessiblity Reports
%table#example.wide.center{:cellspacing => "0", :width => "100%"}
	%thead
		%tr
			%th{:scope => "col"} 
				%span Report
			%th{:scope => "col"}
				%span Date
			%th{:scope => "col"} 
				%span Total Pages
			%th{:scope => "col"} 
				%span Accessible pages
			%th{:scope => "col"} 
				%span  Errors per page
	%tbody
		- @web_array.each do |row|
			%tr 
				%td= row["web_url"]
				%td.nowrap= row["report_date"]				
				%td= row["pg_totl"]
				%td= row["error_free"]
				%td= row["error_aver"]